<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IInfoStreamService" />
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="Behaviour_IInfoStreamService">
          <dataContractSerializer maxItemsInObjectGraph="1048576"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://localhost:51043/InfoStreamService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInfoStreamService" behaviorConfiguration="Behaviour_IInfoStreamService"
        contract="CoreService.IInfoStreamService" name="BasicHttpBinding_IInfoStreamService" />
    </client>
  </system.serviceModel>
</configuration>