<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" maxBufferSize="1048576" maxReceivedMessageSize="1048576">
          <readerQuotas maxArrayLength="1048576" maxDepth="1048576" maxStringContentLength="1048576" />
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="Behaviour_IService1">
          <dataContractSerializer maxItemsInObjectGraph="1048576"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://localhost:51043/Service1.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService1" contract="CoreService.IService1" behaviorConfiguration="Behaviour_IService1"
          name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>